.bg{
    background-color: #4d148c;
}

span.fed{
    font-weight: bold;
    font-size: 30px;
}

span.ex{
    color: #ff6600;
    font-weight: bold;
    font-size: 30px;
}

body{
    background-image: url("../img/bodo.png"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  height: 100%; 
}

img.img{
    display: inline-block;
    height: 90px;
}

footer {
    background: #ffab62;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
  }