
.bg-light{
    background-color: #00549a!important;
    color: white;
    height: 80px;
}


form#form2{
    display: none;
}

form#form1{
    display:none;
}

body {
    background-color: white!important;
}


a.navbar-brand{
    font-size: 30px;
    font-weight: bold;
}

a.nav-link{
    font-size: 25px;

}
